@import "./partials/reset";
@import "./partials/variabili";

body {
  font-family: $font-family;

  #side-left {
    background-color: $black;
    @media screen and (max-width: 770px) {
      display: none;
    }
    #icons {
      color: $textGray;
      border-bottom: 1px solid $lightgrey;
      padding-bottom: 0.8em;
      div {
        span {
          display: flex;
          align-items: center;
          i {
            padding-right: 0.8em;
            font-size: 1.2em;
          }
          img {
            padding-bottom: 0.5em;
            padding-top: 0.4em;
            width: 20px;
            margin-right: 0.8em;
          }
          p {
            font-size: 0.8em;
            font-weight: bold;
            &:hover {
              cursor: pointer;
              color: $textWhite;
            }
          }
        }
      }
    }
    #playlist {
      li {
        font-size: 0.7em;
        color: $textGray;
        &:hover {
          cursor: pointer;
          color: $textWhite;
          font-weight: bold;
        }
      }
    }
  }
  #center {
    @media screen and (min-width: 766px) {
      background: linear-gradient(180deg, #303030 0%, #121212 100%);
    }
  }
  #side-right {
    background-color: $black;
  }
  footer {
    background-color: $player;
  }
}

.contAdina {
  width: 100%;
  height: 100vh;
}

/* RIGHT SIDEBAR */

#side-right {
  @media screen and (max-width: 991px) {
    display: none !important;
  }
}

.controlBar {
  i {
    color: $textWhite;
    font-size: 0.7em;
    cursor: pointer;
  }
}

.rightColumn {
  p {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.8em;
  }

  i {
    color: $textGray;
  }
}

.avatars {
  .leftImage {
    #avatarCircle {
      width: 25px;
      height: 25px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .boldName {
    font-weight: bold;
  }
  p {
    font-size: 0.6em;
    color: $textGray;
  }

  .hours {
    font-size: 0.5em;
  }
}
// INIZIO SEZIONE CENTRALE

#center {
  padding-bottom: 100px !important;
  overflow-y: auto;
  padding: 0.5em 1em;
  //height: 100vh !important;
  @media screen and (max-width: 765px) {
    background-color: $player !important;
    padding-bottom: 0 !important;
  }
  .topBar2 {
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5em;
      border-radius: 50%;
      color: $textGray;
      margin-right: 0.5em;
    }
  }
  .topBar1 {
    #dropdown {
      background-color: $black;
      &:hover {
        background-color: $grey;
      }
      border-radius: 5em;
      padding: 0 0.3em;
      color: $textWhite !important;
      font-size: 0.8em;
      font-weight: bold;
      display: flex;
      align-items: center;
      img {
        width: 1.5em;
        height: 1.3em;
      }

      .dropdown-menu {
        font-size: 0.8em;
        font-weight: bold;
        background-color: $grey;
        box-shadow: 0px 12px 26px -12px rgba(0, 0, 0, 0.79);
        -webkit-box-shadow: 0px 12px 26px -12px rgba(0, 0, 0, 0.79);
        li {
          a {
            color: $textWhite;
            &:hover {
              color: $grey;
            }
          }
        }
      }
    }
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5em;
      border-radius: 50%;
      background-color: $grey;
      border: 1px solid $grey;
      color: $textGray;
      margin-right: 0.5em;
    }
  }
}

// INIZIO MAIN CARD
.box {
  background: radial-gradient(
    95.7% 90.96% at 83.53% 6.67%,
    #2e2e2e 20%,
    #020202
  );
  @media screen and (max-width: 770px) {
    display: none !important;
  }
  border-radius: 3px;
  backdrop-filter: blur(29px);
  margin-top: 0.5em;
  #mainCard {
    #dataTrack {
      display: flex;
      .mainAlbum {
        margin-left: 1em;
        color: $textWhite;
        font-size: 0.6em;
        font-weight: bold;
        margin-top: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
      }
      .bodyCard {
        .buttonCard {
          padding-top: 0.6em;
          ul {
            display: flex;
            align-items: center;
            .firstButton {
              display: flex;
              border: 1px solid $green;
              background-color: $green;
              border-radius: 3em;
              width: 8em;
              padding: 0.9em;
              color: $black;
              &:hover {
                cursor: pointer;
              }
            }
            .secondButton {
              border: 1px solid $lightgrey;
              border-radius: 3em;
              width: 8em;
              padding: 0.9em;
              &:hover {
                cursor: pointer;
              }
            }
            li {
              display: flex;
              justify-content: center;
              margin: 0 0.5em;
            }
            i {
              margin-left: 0.5em;
              font-size: 2.5em;
              color: $lightgrey;
            }
          }
        }
      }
      p {
        font-weight: lighter;
        padding: 5px;
      }
      a {
        color: $textWhite;
        text-decoration: none;
      }
    }
  }
}
.annunciHidden {
  button {
    margin-top: 0.7em;
    background-color: $lightgrey;
    letter-spacing: 1.3px;
    border-radius: 3em;
    color: $textGray;
    font-size: 0.5em;
    border: none;
    height: 8%;
  }
}

// FINE MAIN CARD

/* SECOND SECTION */

.bottoni {
  background-color: $grey !important;
  color: $textGray !important;
}

#cont {
  #second-section {
    width: 32%;
    @media screen and (max-width: 765px) {
      background-color: $grey !important;
      width: 49%;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $lightgrey !important;
    color: $textWhite;
    &:hover {
      background-color: rgb(97, 96, 96) !important;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      aspect-ratio: 1/1;
      border-radius: 5px 0 0 5px;
      &:hover {
        box-shadow: 0px 12px 31px -2px rgba(0, 0, 0, 0.91);
        -webkit-box-shadow: 0px 12px 31px -2px rgba(0, 0, 0, 0.91);
      }
    }
  }
}

/* THIRD SECTION */

.leftSection {
  p {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.9em;
  }
}

.rightSection {
  p {
    font-size: 0.6em;
    letter-spacing: 1.3px;
    color: $textGray;
    font-weight: bold;
  }
}

.thirdCard {
  background-color: $grey;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.5em;
  @media screen and (max-width: 765px) {
    background-color: $lightgrey;
  }
  &:hover {
    background-color: $cardHover;
  }

  img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    @media screen and (max-width: 765px) {
      width: 40%;
    }
    &:hover {
      box-shadow: 0px 12px 31px -2px rgba(0, 0, 0, 0.91);
      -webkit-box-shadow: 0px 12px 31px -2px rgba(0, 0, 0, 0.91);
    }
  }
}

.cardBody {
  h5 {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.9em;
  }

  p {
    color: $textGray;
    font-size: 0.7em;
  }
}

// INIZIO ALBUM PAGE

.boxAlbumPage {
  display: flex;
  margin-top: 1em;
  color: $textWhite;

  #imgAlbum {
    height: 175px;
    width: 175px;
    margin-left: 1em;
    box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.74);
  }

  .mainAlbumPage {
    padding-top: 5em;

    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 1em;
    font-size: 0.7em;
    font-weight: bold;
    h2 {
      font-weight: bold;
    }
    .miniImgAlbum {
      margin-right: 0.5em;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  }
}

.startButton {
  width: 30px;
  height: 30px;
  background-color: $textWhite;
  border-radius: 50%;

  i {
    color: $black;
    font-size: 1.1em;
  }
}

.albumCardFooter {
  div {
    i {
      font-size: 1.5em;
      color: $textGray;
    }
  }
  p {
    color: $textGray;
    font-size: 0.9em;
  }
  .palyAlbum {
    background-color: $grey;
    height: 30px;
    width: 30px;
  }
}

/* footer2 */
.footer2 {
  padding: 1em 0em;
  color: $textGray;
  width: 100%;
  p {
    font-size: 0.8em;
  }
  i {
    font-size: 1.1em;
    &:hover {
      color: $textWhite;
    }
  }
  position: fixed;
  bottom: 0;
  background: linear-gradient(180deg, #3b3b3b00 0%, #121212 100%);
}
.playerAlbum {
  padding-top: 1em;
  //border-top: 0.3px solid;
  display: flex;
  // padding-left: 1.8em;
  cursor: pointer;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.5em;
    color: $textGray;
  }
  @media screen and(max-width:768px) {
    .iconPlayRandMob {
      padding-right: 1em;
      width: 100%;
      display: flex;
      justify-content: end;
    }
  }
}

.songAlbumJS {
  font-size: 1.4em;
}

.bodyAlbum {
  //padding-top: 3em;
  color: $textGray;
  font-size: 0.6em;
  .ulAlbum {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid $lightgrey;
    @media screen and (max-width: 768px) {
      border: none;
    }
    padding-bottom: 1em;
    margin: 2.5em;
    span {
      display: flex;

      .rip {
        //padding-left: 30em;
        padding-right: 30em;
      }
    }
  }
  .albumList {
    padding-bottom: 1em;
    margin: 2.5em;
    span {
      display: flex;
      .rip {
        //padding-left: 30em;
        padding-right: 30em;
      }
    }
  }
}
#footmobcenter {
  span {
    p {
      font-size: 0.8em;
    }
  }
}

// ARTIST PAGE

#cardOverlay {
  height: 280px;
  object-fit: cover;
}

.arrowMobile {
  display: none;
}

.textBox {
  i {
    color: #3d91f4;
    font-size: 1.2em;
  }

  p {
    font-size: 0.8em;
    font-weight: bold;
  }
  h5 {
    font-weight: bold;
    font-size: 3em;
  }
}

.shuffle {
  display: none;
}

.circlePlay {
  width: 50px;
  height: 50px;
  background-color: $green;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 24px -6px rgba(29, 235, 102, 0.76);
    -webkit-box-shadow: 0px 0px 24px -6px rgba(29, 235, 102, 0.76);
    transform: scale(1.1);
  }

  i {
    font-size: 1.8em;
    color: $black;
  }
}

.popolari {
  font-weight: bold;
  color: $textWhite;
  font-size: 1.2em;
}

.follow {
  border: none;
  border: 1px solid white;
  padding: 0px 20px;

  p {
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 1.1px;
  }
}

.threeDots {
  i {
    color: $textGray;
    font-size: 1.2em;
  }

  &:hover {
    cursor: pointer;
  }
}

.left {
  width: 320px;
  #smallCover {
    width: 55px;
    height: 55px;
  }

  .numbRanks {
    width: 6px;
  }

  p {
    color: $textWhite;
    font-size: 0.9em;
  }

  .noneDesktop {
    display: none;
  }
}

.center {
  p {
    color: rgb(149, 137, 137);
    font-size: 0.8em;
  }
}

.right {
  p {
    color: rgb(149, 137, 137);
    font-size: 0.8em;
  }

  i {
    display: none;
  }
}

#imageArtistCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.rightTextImage {
  .whiteText {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.6em;
  }

  p {
    color: rgb(149, 137, 137);
    font-size: 0.6em;
  }
}

.hoverArtist {
  &:hover {
    cursor: pointer;
    background-color: #3f3f3f7d;
    border-radius: 6px;
  }
}

.viewOther {
  font-size: 0.6em;
  letter-spacing: 1.3px;
  color: $textGray;
  font-weight: bold;
}

// Inizio responsive mobile artist page

@media screen and (max-width: 770px) {
  .topBar {
    display: none !important;
  }

  .textBox {
    h5 {
      position: relative;
      top: 85px;
    }
  }

  .arrowMobile {
    display: block;
    background-color: #2e2e2e84;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    i {
      color: $textWhite;
    }
  }

  #marco {
    position: relative;
    top: 135px;
  }

  .mobileview {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .reverse {
    display: flex;
    flex-direction: column;
  }

  .popolari {
    font-size: 1em;
  }

  .hiddenMobile {
    display: none;
  }

  .downMobile {
    position: relative;
    top: 48px;
    font-weight: 400 !important;
  }

  .reverseMobileIcon {
    display: flex;
    justify-content: space-between;
  }

  .follow {
    border: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 5px;
  }

  .shuffle {
    display: block;
    color: $textGray;
    font-size: 1.6em;
  }

  .noneDesktop {
    display: block !important;
  }

  .center {
    display: none;
  }

  .right {
    p {
      display: none;
    }

    i {
      display: block;
      color: rgb(236, 236, 236);
      font-size: 1.3em;
    }
  }

  .rightTextImage {
    font-size: 1.3em;
  }
}

/* FOOTER DESKTOP */

.music-player {
  --primary-color: #ddd;
  --secondary-color: #999;
  --green-color: 2d5;
  --padding: 1em;
  padding: 0.8em;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--primary-color);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
i {
  color: var(--secondary-color);
}
.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}
.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}
i:hover {
  color: var(--primary-color);
}
span:hover {
  color: var(--primary-color);
}
.song-bar {
  position: absolute;
  left: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 25%;
}
.image-container {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.title:hover,
.artist:hover {
  text-decoration: underline;
}
.artist {
  color: var(--secondary-color);
}
.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
}
.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}
.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4;
}
.progress {
  position: relative;
  height: 100%;
  width: 30%;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
.progress-bar:hover .progress {
  background-color: greenyellow;
}
#other {
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.volume-bar .progress-bar {
  width: 6em;
}

/* FOOTER MOBILE */

.testtesto h6 {
  margin-bottom: 0px;
  color: white;
  font-size: small;
}
.testtesto p {
  color: lightgray;
  position: relative;

  font-size: small;
}

.testtesto i {
  color: #373737;
}

.iconefooter {
  font-size: 27px;
  margin-right: 5px;
}
.iconefooter {
  i {
    color: $textGray;
    padding-left: 0.3em;
    &:hover {
      color: white;
    }
  }
}
.testtesto p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.testtesto h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* FOOTER MOBILE PLAYER */

#playerMobile {
  width: 96%;
  margin: auto;
  border-radius: 10px;
  height: 60px;
  position: sticky;
  bottom: 50px;
  background-color: $lightgrey;
}
