@import "./partials/reset";
@import "./partials/variabili";

body {
  font-family: $font-family;
  #side-left {
    background-color: $black;
    @media screen and (max-width: 770px) {
      display: none;
    }
    #icons {
      color: $textGray;
      border-bottom: 1px solid $lightgrey;
      padding-bottom: 0.8em;
      div {
        span {
          display: flex;
          align-items: center;
          i {
            padding-right: 0.8em;
            font-size: 1.2em;
          }
          img {
            padding-bottom: 0.5em;
            padding-top: 0.4em;
            width: 20px;
            margin-right: 0.8em;
          }
          p {
            font-size: 0.8em;
            font-weight: bold;
            &:hover {
              cursor: pointer;
              color: $textWhite;
            }
          }
        }
      }
    }
  }
  #center {
    background: linear-gradient(180deg, #303030 0%, #121212 100%);
  }
  #side-right {
    background-color: $black;
  }
  footer {
    background-color: $player;
  }
}

/* RIGHT SIDEBAR */

#side-right {
  @media screen and (max-width: 991px) {
    display: none !important;
  }
}

.controlBar {
  i {
    color: $textWhite;
    font-size: 0.7em;
    cursor: pointer;
  }
}

.rightColumn {
  p {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.8em;
  }

  i {
    color: $textGray;
  }
}

.avatars {
  .leftImage {
    #avatarCircle {
      width: 25px;
      height: 25px;
    }
  }

  .boldName {
    font-weight: bold;
  }
  p {
    font-size: 0.6em;
    color: $textGray;
  }

  .hours {
    font-size: 0.5em;
  }
}
// INIZIO SEZIONE CENTRALE

#center {
  padding: 0.5em 1em;
  .topBar {
    display: flex;
    justify-content: space-between;
    #dropdown {
      background-color: $black;
      &:hover {
        background-color: $grey;
      }
      border-radius: 5em;
      padding: 0 0.3em;
      color: $textWhite !important;
      font-size: 0.8em;
      font-weight: bold;
      display: flex;
      align-items: center;
      img {
        width: 1.5em;
        height: 1.3em;
      }
      .dropdown-menu {
        font-size: 0.8em;
        font-weight: bold;
        background-color: $grey;
        box-shadow: 0px 12px 26px -12px rgba(0, 0, 0, 0.79);
        -webkit-box-shadow: 0px 12px 26px -12px rgba(0, 0, 0, 0.79);
        li {
          a {
            color: $textWhite;
            &:hover {
              color: $grey;
            }
          }
        }
      }
    }
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5em;
      border-radius: 50%;
      background-color: $grey;
      border: 1px solid $grey;
      color: $textGray;
      margin-right: 0.5em;
    }
  }
}
// INIZIO MAIN CARD
.box {
  background: radial-gradient(
    95.7% 90.96% at 83.53% 6.67%,
    #2e2e2e 20%,
    #020202
  );
  border-radius: 3px;
  backdrop-filter: blur(29px);
  height: 50%;
  margin-top: 0.5em;
  #mainCard {
    #dataTrack {
      display: flex;
      .mainAlbum {
        margin-left: 1em;
        color: $textWhite;
        font-size: 0.6em;
        font-weight: bold;
        margin-top: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
      }
      .bodyCard h1,
      p {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        padding: 5px;
      }
      .buttonCard {
        padding-top: 0.6em;
        ul {
          display: flex;
          align-items: center;
          .firstButton {
            display: flex;
            border: 1px solid $green;
            background-color: $green;
            border-radius: 3em;
            width: 8em;
            padding: 0.9em;
            color: $black;
          }
          .secondButton {
            border: 1px solid $lightgrey;
            border-radius: 3em;
            width: 8em;
            padding: 0.9em;
          }
          li {
            display: flex;
            justify-content: center;
            margin: 0 0.5em;
          }
          i {
            margin-left: 0.5em;
            font-size: 2.5em;
            color: $lightgrey;
          }
        }
      }
    }
  }
}
.annunciHidden {
  button {
    margin-top: 0.7em;
    background-color: $lightgrey;
    letter-spacing: 1.3px;
    border-radius: 3em;
    color: $textGray;
    font-size: 0.5em;
    border: none;
    height: 8%;
  }
}

// FINE MAIN CARD

/* SECOND SECTION */

#cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  #second-section {
    img {
      width: 30%;
      padding-right: 0.5em;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lightgrey;
    color: $textWhite;
    margin-bottom: 0.8em;
    width: 32%;
    &:hover {
      background-color: rgb(97, 96, 96);
    }
  }
}

/* THIRD SECTION */

.leftSection {
  p {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.9em;
  }
}

.rightSection {
  p {
    font-size: 0.6em;
    letter-spacing: 1.3px;
    color: $textGray;
    font-weight: bold;
  }
}

.thirdCard {
  background-color: $grey;
  width: 11em;
  height: 270px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $cardHover;
  }

  .img {
    img {
      width: 9.5em;
      height: 9.5em;
      border-radius: 5px;

      &:hover {
        box-shadow: 0px 12px 31px -2px rgba(0, 0, 0, 0.91);
        -webkit-box-shadow: 0px 12px 31px -2px rgba(0, 0, 0, 0.91);
      }
    }
  }

  .cardBody {
    h5 {
      color: $textWhite;
      font-weight: bold;
      font-size: 0.9em;
    }

    p {
      color: $textGray;
      font-size: 0.7em;
    }
  }
}

// ARTIST PAGE

#cardOverlay {
  height: 280px;
  object-fit: cover;
}

.textBox {
  i {
    color: #3d91f4;
    font-size: 1.2em;
  }

  p {
    font-size: 0.8em;
    font-weight: bold;
  }
  h5 {
    font-weight: bold;
    font-size: 3em;
  }
}

.shuffle {
  display: none;
}

.circlePlay {
  width: 50px;
  height: 50px;
  background-color: $green;
  border-radius: 50%;

  i {
    font-size: 1.8em;
    color: $black;
  }
}

.popolari {
  font-weight: bold;
  color: $textWhite;
  font-size: 1.2em;
}

.follow {
  border: none;
  border: 1px solid white;
  padding: 0px 20px;

  p {
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 1.1px;
  }
}

.threeDots {
  i {
    color: $textGray;
    font-size: 1.2em;
  }
}

.left {
  #smallCover {
    width: 55px;
    height: 55px;
  }

  p {
    color: $textWhite;
    font-size: 0.9em;
  }

  .noneDesktop {
    display: none;
  }
}

.center {
  p {
    color: rgb(149, 137, 137);
    font-size: 0.8em;
  }
}

.right {
  p {
    color: rgb(149, 137, 137);
    font-size: 0.8em;
  }

  i {
    display: none;
  }
}

#imageArtistCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rightTextImage {
  .whiteText {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.6em;
  }

  p {
    color: rgb(149, 137, 137);
    font-size: 0.6em;
  }
}

// Inizio responsive mobile artist page

@media screen and (max-width: 770px) {
  .mobileview {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .reverse {
    display: flex;
    flex-direction: column;
  }

  .popolari {
    font-size: 1em;
  }

  .hiddenMobile {
    display: none;
  }

  .downMobile {
    position: relative;
    top: 48px;
    font-weight: 400 !important;
  }

  .reverseMobileIcon {
    display: flex;
    justify-content: space-between;
  }

  .follow {
    border: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 5px;
  }

  .shuffle {
    display: block;
    color: $textGray;
    font-size: 1.6em;
  }

  .noneDesktop {
    display: block !important;
  }

  .center {
    display: none;
  }

  .right {
    p {
      display: none;
    }

    i {
      display: block;
      color: rgb(236, 236, 236);
      font-size: 1.3em;
    }
  }

  .rightTextImage {
    font-size: 1.3em;
  }
}
