@import "./partials/reset";
@import "./partials/variabili";

body {
  font-family: $font-family;
  #side-left {
    background-color: $black;
    #icons {
      color: $textGray;
      border-bottom: 1px solid $lightgrey;
      padding-bottom: 0.8em;
      div {
        span {
          display: flex;
          align-items: center;
          i {
            padding-right: 0.8em;
            font-size: 1.2em;
          }
          img {
            padding-bottom: 0.5em;
            padding-top: 0.4em;
            width: 20px;
            margin-right: 0.8em;
          }
          p {
            font-size: 0.8em;
            font-weight: bold;
            &:hover {
              cursor: pointer;
              color: $textWhite;
            }
          }
        }
      }
    }
  }
  #center {
    background: linear-gradient(180deg, #303030 0%, #121212 100%);
  }
  #side-right {
    background-color: $black;
  }
  footer {
    background-color: $player;
  }
}

/* RIGHT SIDEBAR */

.controlBar {
  i {
    color: $textWhite;
    font-size: 0.7em;
    cursor: pointer;
  }
}

.rightColumn {
  p {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.8em;
  }

  i {
    color: $textGray;
  }
}

.avatars {
  .leftImage {
    #avatarCircle {
      width: 25px;
      height: 25px;
    }
  }

  .boldName {
    font-weight: bold;
  }
  p {
    font-size: 0.6em;
    color: $textGray;
  }

  .hours {
    font-size: 0.5em;
  }
}
// INIZIO SEZIONE CENTRALE

#center {
  padding: 0.5em 1em;
  .topBar {
    display: flex;
    justify-content: space-between;
    #dropdown {
      background-color: $black;
      &:hover {
        background-color: $grey;
      }
      border-radius: 5em;
      padding: 0 0.3em;
      color: $textWhite !important;
      font-size: 0.8em;
      font-weight: bold;
      display: flex;
      align-items: center;
      img {
        width: 1.5em;
        height: 1.3em;
      }
      .dropdown-menu {
        font-size: 0.8em;
        font-weight: bold;
        background-color: $grey;
        box-shadow: 0px 12px 26px -12px rgba(0, 0, 0, 0.79);
        -webkit-box-shadow: 0px 12px 26px -12px rgba(0, 0, 0, 0.79);
        li {
          a {
            color: $textWhite;
            &:hover {
              color: $grey;
            }
          }
        }
      }
    }
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5em;
      border-radius: 50%;
      background-color: $grey;
      border: 1px solid $grey;
      color: $textGray;
      margin-right: 0.5em;
    }
  }
}
// INIZIO MAIN CARD
.box {
  background: radial-gradient(
    95.7% 90.96% at 83.53% 6.67%,
    #2e2e2e 20%,
    #020202
  );
  border-radius: 3px;
  backdrop-filter: blur(29px);
  height: 50%;
  margin-top: 0.5em;
  #mainCard {
    #dataTrack {
      display: flex;
      .mainAlbum {
        margin-left: 1em;
        color: $textWhite;
        font-size: 0.6em;
        font-weight: bold;
        margin-top: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
      }
      .bodyCard h1,
      p {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        padding: 5px;
      }
      .buttonCard {
        padding-top: 0.6em;
        ul {
          display: flex;
          align-items: center;
          .firstButton {
            display: flex;
            border: 1px solid $green;
            background-color: $green;
            border-radius: 3em;
            width: 8em;
            padding: 0.9em;
            color: $black;
          }
          .secondButton {
            border: 1px solid $lightgrey;
            border-radius: 3em;
            width: 8em;
            padding: 0.9em;
          }
          li {
            display: flex;
            justify-content: center;
            margin: 0 0.5em;
          }
          i {
            margin-left: 0.5em;
            font-size: 2.5em;
            color: $lightgrey;
          }
        }
      }
    }
  }
}
.annunciHidden {
  button {
    margin-top: 0.7em;
    background-color: $lightgrey;
    letter-spacing: 1.3px;
    border-radius: 3em;
    color: $textGray;
    font-size: 0.5em;
    border: none;
    height: 8%;
  }
}

// FINE MAIN CARD

/* SECOND SECTION */

#cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  #second-section {
    img {
      width: 30%;
      padding-right: 0.5em;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lightgrey;
    color: $textWhite;
    margin-bottom: 0.8em;
    width: 32%;
    &:hover {
      background-color: rgb(97, 96, 96);
    }
  }
}

/* THIRD SECTION */

.leftSection {
  p {
    color: $textWhite;
    font-weight: bold;
    font-size: 0.9em;
  }
}

.rightSection {
  p {
    font-size: 0.6em;
    letter-spacing: 1.3px;
    color: $textGray;
    font-weight: bold;
  }
}

.thirdCard {
  background-color: $grey;
  width: 11em;
  height: 270px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $cardHover;
  }

  .img {
    img {
      width: 9.5em;
      height: 9.5em;
      border-radius: 5px;

      &:hover {
        box-shadow: 0px 12px 31px -2px rgba(0, 0, 0, 0.91);
        -webkit-box-shadow: 0px 12px 31px -2px rgba(0, 0, 0, 0.91);
      }
    }
  }

  .cardBody {
    h5 {
      color: $textWhite;
      font-weight: bold;
      font-size: 0.9em;
    }

    p {
      color: $textGray;
      font-size: 0.7em;
    }
  }
}

// INIZIO ALBUM PAGE

.boxAlbumPage {
  display: flex;
  margin-top: 1em;
  color: $textWhite;

  .mainAlbumPage {
    padding-top: 5em;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 1em;
    font-size: 0.7em;
    font-weight: bold;
    h1 {
      font-size: 6em;
      font-weight: bold;
    }
    .detailsAlbum {
      font-size: 0.7em;
    }
  }
}

.playerAlbum {
  padding-top: 1em;
  border-top: 0.3px solid;
  display: flex;
  padding-left: 1em;
  cursor: pointer;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.5em;
    color: $textGray;
  }
}

.bodyAlbum{
  padding-top: 3em;
  color: $textGray;
  font-size: 0.5em;
  ul{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid $lightgrey;
    padding: 0 2.5em;
    margin: 2.5em;
    span {
      display: flex;
      padding-right: 10em;
      li{
        padding-left: 30em;

      };
    }
  }
}




