@import "./partials/reset";
@import "./partials/variabili";

body {
  font-family: $font-family;
  #side-left {
    background-color: $black;
    #icons {
      div {
        i {
          color: $textGray;
          padding-right: 0.8em;
          font-size: 1.2em;
        }
        img {
          padding-bottom: 0.5em;
          width: 20px;
        }
      }
    }
  }
  #center {
    background: linear-gradient(180deg, #303030 0%, #121212 100%);
  }
  #side-right {
    background-color: $black;
  }
  footer {
    background-color: $player;
  }
}
